:root {
  --logo-text-font: 'Raleway';
  --primary-font: 'Roboto', sans-serif;
  --nohover-navlink-color: #212121;
  --hover-cont-link: #2196f3;
  --primary-text-color: #757575;
  --communication-color: rgba(255, 255, 255, 0.6);
  --button-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-bg-color: #ffffff;
  --card-set-gap: 30px;
}
/* Глобальные стили */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  background-color: var(--accent-bg-color);
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}
.container {
  width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Скрытый заголовок h2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Подсвечивание текущей страницы */
.current:visited {
  color: var(--hover-cont-link);
}

/* Стили шапки */
.head-site {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.head-cont {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Лого */
.logo {
  font-family: var(--logo-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web-logo {
  color: #2196f3;
}
.head-logo {
  color: #000000;
}
.footer-logo {
  color: #ffffff;
}
/* Секция навигации */
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-list .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nohover-navlink-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-cont-link);
}
/* Обратная связь с разработчиками */
.connect {
  display: flex;
}
.connect .item + .item {
  margin-left: 50px;
}
.conn-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}
.conn-link:hover,
.conn-link:focus {
  color: var(--hover-cont-link);
}
/* Секция подвал сайта */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  margin-top: 20px;
}
.address-color {
  color: #ffffff;
}
.footer-item + .footer-item {
  margin-top: 9px;
}
.footer-contacts {
  color: var(--communication-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-cont-link);
}
/* Стили отдельных страниц */
/* Секция страницы WebStudio */
/* Секция hero с заказом услуг */
.hero {
  background-color: #2f303a;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .container {
  width: 696px;
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
}
.primary-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.primary-button:hover,
.primary-button:focus {
  background: #188ce8;
}
/* Секция как мы работаем*/
.about.section {
  padding-bottom: 0px;
}
.about-list {
  display: flex;
}
.about-item {
  width: 270px;
}
.about-item + .about-item {
  margin-left: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
}
/* Секция Чем Мы занимаемся */
.service .container {
  text-align: center;
}
.service-title {
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.service-list {
  display: flex;
}
.service-item + .service-item {
  margin-left: 30px;
}
/* Секция Наша команда */
.team {
  background-color: #f5f4fa;
  text-align: center;
}
.team-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* Секция страницы Portfolio */
/* Основной контент страницы */
/* Навигация по проектам */

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
}
.btn-current {
  color: var(--button-text-color);
  background-color: #2196f3;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--button-text-color);
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Секция Наши проекты */
.port-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}
.port-item {
  margin-left: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}
/* .port-item:nth-child(3n + 1) {
  margin-left: 0;
} */
.port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.port-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
.port-wraper {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
